@import "tailwindcss";

.gradient-background {
  background: linear-gradient(300deg, #481fff, #ff2ba0, #fa4141);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-arrow{
  color:gray !important;
}

@layer components {
  .gradient-btn-red {
    @apply rounded-4xl shadow-md text-white font-medium text-lg transition-all duration-300 ease-in-out;
    background: linear-gradient(300deg, #481fff, #ff2ba0, #fa4141);
    background-size: 180% 180%;
    animation: gradient 3s ease infinite;
  }

  .gradient-btn-red:hover {
    background: linear-gradient(300deg, #5a33ff, #ff4bb5, #ff5a5a);
  }

  .gradient-btn-green {
    @apply shadow-md text-white font-bold text-lg transition-all duration-300 ease-in-out;
    background: linear-gradient(300deg, #0f52ba, #00c2c2, #2fe0a2);
    background-size: 180% 180%;
    animation: gradient 3s ease infinite;
  }

  .gradient-btn-green:hover {
    background: linear-gradient(300deg, #1a75ff, #00d4b4, #4fffcf);
  }

  .google-auth-btn {
    @apply flex justify-around items-center border border-gray-300 shadow-md mx-16 py-3 mt-8
    transition-all duration-300 ease-in-out hover:bg-gray-200 hover:border-gray-400;
  }
}

.orders-table {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #4B5563;
  font-weight: 600; 
  font-size: 1rem;
  width: 100px;
  text-align: center;
}

.expandable-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms ease-in-out;
}

.expandable-content.expanded {
  max-height: 500px; 
}