@import "tailwindcss";

.gradient-background {
  background: linear-gradient(300deg, #481fff, #ff2ba0, #fa4141);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-arrow{
  color:gray !important;
}

@layer components {
  .gradient-btn-red {
    @apply px-8 py-2 rounded-4xl shadow-md text-white font-medium text-lg transition-all duration-300;
    background: linear-gradient(300deg, #481fff, #ff2ba0, #fa4141);
    background-size: 180% 180%;
    animation: gradient 3s ease infinite;
  }

  .gradient-btn-red:hover {
    background: linear-gradient(300deg, #5a33ff, #ff4bb5, #ff5a5a);
  }

  .gradient-btn-green {
    @apply px-10 py-2 rounded-4xl shadow-md text-white font-bold text-lg transition-all duration-300;
    background: linear-gradient(300deg, #0f52ba, #00c2c2, #2fe0a2);
    background-size: 180% 180%;
    animation: gradient 3s ease infinite;
  }

  .gradient-btn-green:hover {
    background: linear-gradient(300deg, #1a75ff, #00d4b4, #4fffcf);
  }
}

@layer components {
  .google-auth-btn {
    @apply flex justify-around items-center border border-gray-300 shadow-md mx-16 py-3 mt-8 
    transition-colors duration-200 hover:bg-gray-200;
  }
}
